---
layout: home
title: Home

---
<!-- Welcome Section -->
{% include home/welcome.html %}

<!-- What We Do Section -->
{% include home/what-we-do.html %}

<!-- Our Services Section -->
{% include home/services.html %}

<!-- Onboarding and Training Section -->
{% include home/training.html %}

<!-- How To Use Section -->
<div class="page-section how-to-use">
    <div class="container">
        <div class="how-to-use__text">
            <h2>Find out How Easy Chartio Is to use</h2>
            <form action="#" class="email-form">
                <input type="text" class="email-form__input" placeholder="Enter your contact email">
                <button type="submit" class="btn btn--secondary email-form__submit">Get Started Free</button>
            </form>
        </div>
        <div class="how-to-use__video-holder">
            <div class="video">
                <a href="#" class="video__play-btn">Play</a>
            </div>
        </div>
    </div>
</div>
<!-- /How To Use Section -->
