<div class="cols5">
    {% for col in site.data.footer-nav.col limit:5 %}
        <div class="col">
            <h4 class="footer-nav__title">{{ col.title }}</h4>
            <ul class="footer-nav">
                {% for item in col.nav %}
                    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            {% if col.title == 'Customers'%}
                <div class="certificates">
                    {% for item in col.certificate %}
                        <img src="{{ item.path }}" alt="{{ item.title }}">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
