<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <a href="#" class="logo logo--footer"><img src="assets/images/chartio-logo-black-tbg.svg" alt="Chartio"></a>

            <!-- Footer Navigation -->
            {% include footer-nav.html %}
        </div>
    </div>

    <!-- Footer Buttons -->
    {% include footer-btns.html %}

    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright-->
            {% include copyright.html %}

            <!-- Policy Links-->
            {% include policy-links.html %}

            <!-- Social Links-->
            {% include social-links.html %}
        </div>
    </div>
</footer>
