<div class="cols5">
    <div class="col">
        <h4 class="footer-nav__title">Why Chartio</h4>
        <ul class="footer-nav">
            <li><a href="#">Data Sources</a></li>
            <li><a href="#">Visual SQL</a></li>
            <li><a href="#">Data Sharing</a></li>
            <li><a href="#">Data Stack</a></li>
            <li><a href="#">Data Advisors</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>
    </div>
    <div class="col">
        <h4 class="footer-nav__title">Help Center</h4>
        <ul class="footer-nav">
            <li><a href="#">Docs</a></li>
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Feature Releases</a></li>
            <li><a href="#">Office Hours</a></li>
        </ul>
    </div>
    <div class="col">
        <h4 class="footer-nav__title">Blog</h4>
        <ul class="footer-nav">
            <li><a href="#">Company News & Events</a></li>
            <li><a href="#">Product Updates</a></li>
            <li><a href="#">Thought Leadership</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Off the Charts</a></li>
        </ul>
    </div>
    <div class="col">
        <h4 class="footer-nav__title">about us</h4>
        <ul class="footer-nav">
            <li><a href="#">Team & values</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Data School</a></li>
            <li><a href="#">Brand Kit</a></li>
        </ul>
    </div>
    <div class="col">
        <h4 class="footer-nav__title">customers</h4>
        <ul class="footer-nav">
            <li><a href="#">Success Stories</a></li>
            <li><a href="#">Customer Reviews</a></li>
            <li><a href="#">Data Heroes</a></li>
        </ul>
        <div class="certificates">
            <img src="assets/images/certificate-aicpa.png" alt="AICPA">
            <img src="assets/images/certificate-soc2.png" alt="SOC 2">
        </div>
    </div>
</div>