<header class="header">
    <div class="header-top">
        <div class="container">

            <!-- Logo -->
            {% assign logo = site.data.header.logo %}
            {% if logo %}
                <a href="/" class="logo"><img src="{{ logo.image }}" alt="{{ logo.image_title }}"></a>
            {% endif %}

            <!-- Primary Navigation -->
            {% include nav-primary.html %}

            <!-- Header Actions -->
            {% include header-actions.html %}
        </div>
    </div>
</header>
