<div class="nav__holder">
    <nav class="nav nav--primary">
        <ul class="nav__list">
            {% for item in site.data.nav-primary.nav %}
                <li class="nav__item {% if item.dropdown %}nav__item--dropdown{% endif %}">
                    <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
                    <ul class="subnav">
                        {% for subitem in item.subnav %}
                            <li class="subnav__item"><a href="{{ subitem.url }}" class="subnav__link">{{ subitem.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<a href="#nav" class="nav__toggle"><i class="nav__toggle-icon fa fa-bars"></i></a>