.welcome {
    width: 100%;
    background: #a673f7 url('../images/welcome-bg.svg') no-repeat center bottom/cover;
    padding: 99px 0 60px;

    .container {
        text-align: center;
        max-width: 970px;
    }
}

.welcome-title {
    color: $white;
}

.welcome-tagline {
    color: $white;
    line-height: 2.25rem;
}

.what-we-do {
    padding: 146px 0 30px;

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.what-we-do__description {
    width: 30%;
    padding: 5px 0 0;
}

.what-we-do__image {
    width: 60%;
    padding: 50px 0 0 36px;
    background: #E5DAF9;
}

.what-we-do__image-element {
    width: 100%;
    display: block;
}

.what-we-do__image-caption {
    background: linear-gradient(90deg, #9869E4 1.35%, rgba(46, 23, 88, 0.263139) 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 24px 100px 27px;

    strong, span {
        width: 100%;
        display: block;
        color: $white;
    }

    strong {
        text-transform: uppercase;
        font-size: 1.06rem;
        font-weight: 600;
        margin: 0 0 5px;
    }
}

.content-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 56px;
}

.content-item__image {
    width: 23%;
}

.content-item__image-element {
    width: 100%;
    display: block;
}

.content-item__text {
    width: 66%;
}

.content-item__text {

    p {
        font-size: 1.31rem;
    }
}

.content-item--image-right {

    .content-item__image {
        order: 1;
    }

    .content-item__text {
        order: 0;
    }
}

.content-item--with-border {
    border: 1px solid $gray-lighter;
    padding: 38px 40px;
}

.testimonial-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius;
    margin: 0 0 147px;
}

.testimonial-item__image {
    width: 33%;
    border-left: 1px solid $gray-lighter;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.testimonial-item__image-element {
    width: 100%;
    display: block;
}

.testimonial-item__text {
    width: 67%;
    padding: 92px 90px;

    blockquote {
        margin: 0 0 38px;
        padding: 0;
        line-height: 1.7em;
        font-size: 1.31rem;
        font-style: italic;

        &:before, &:after {
            content: '';
            display: inline-block;
            width: 14px;
            height: 11px;
            position: relative;
            top: -5px;
        }

        &:before {
            background: url('../images/icon-quote-start.svg') no-repeat center top/contain;
        }

        &:after {
            background: url('../images/icon-quote-end.svg') no-repeat center top/contain;
        }
    }
}

.testimonial-item__link {
    display: block;
    font-weight: 600;
    margin: 0 0 12px;
}

.content-box {
    width: 100%;
    margin: 0;
    border: 1px solid $gray-lighter;

    & + .content-box {
        border-left: none;
    }
}

.content-box__title {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F6F9 100%);
    padding: 18px 18px 26px;
    text-align: center;
}

.content-box__title-element {
    margin: 0;
}

.content-box__text {
    padding: 34px 22px;
}

.training__table {

    .col {
        width: 25%;
    }
}

.timeline {
    width: 100%;
    position: relative;
    padding: 22px 0;
    margin: 25px 0;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $gray-lightest;
    }
}

.timeline__item {
    padding: 10px 25px;
    background: $white;
    border-radius: 25px;
    border: 3px solid #3C97DA;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.timeline__item--days {
    left: 25%;
}

.timeline__item--weeks {
    left: 62.5%;
    border-color: #9869E4;
}

.timeline__item--ongoing {
    left: 87.5%;
    border-color: #FF983D;
}

.how-to-use {
    border-top: 1px solid $gray-lightest;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F6F9 100%);
    padding: 60px 0;

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.how-to-use__text {
    width: 40%;
}

.how-to-use__video-holder{
    width: 60%;
    right: -40px;
}

.video {
    padding: 0;
    width: 100%;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: url('../images/video-frame.png') no-repeat center center;
        width: 100%;
        height: 100%;
    }
}

.video video {
    width: 100%;
    height: 100%;
}

.video__play-btn {
    background: url('../images/play-btn.svg') no-repeat center 70%;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999em;
    position: absolute;
    left: 0;
    top: 0;
}
