@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Roboto+Slab&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

/* ================================================= Text & Links */
body, td, div, select, textarea, input, button {
    font-family: $font-family;
    font-size: $font-size;
}

h1, h2, h3, h1 a, h2 a, h3 a, legend {
    font-family: $font-family--serif;
    line-height: $line-height;
    font-weight: normal;
    color: $h-color;
}

h1 {
    margin: 0 0 20px;
    font-size: $font-size--h1;
    line-height: $line-height-h;
}

h2 {
    margin: 0 0 26px;
    font-size: $font-size--h2;
    line-height: $line-height-h;
}

h3 {
    margin: 0 0 27px;
    font-size: $font-size--h3;
    line-height: $line-height-h;
    color: $black;

    &:not(:first-child) {
        margin-top: 46px;
    }
}

h4 {
    margin: 0 0 15px;
    font-size: $font-size--h4;
    font-weight: normal;
    font-family: $font-family;
    line-height: $line-height-h;
}

p {
    margin: 0;
    line-height: $line-height;

    &:not(:last-child) {
        margin: 0 0 1em;
    }
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        color: $link-color--hover;
        text-decoration: none;
    }
}

ul:not([class]) {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0 0 10px;
        line-height: 1.45em;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $black;
            margin: 0 6px 5px 0;
        }
    }
}

hr {
    margin: 1em 0;
    border: 1px solid $gray-light;
}

.btn-holder {
    width: 100%;
    text-align: center;
    padding: 30px 0 10px;
}

.btn {
    background: $btn-bg-primary;
    height: 38px;
    line-height: 1em;
    padding: 4px 24px 8px;
    display: inline-block;
    text-align: center;
    color: $btn-color-primary;
    font-size: 1.13rem;
    font-weight: bold;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius;
    cursor: pointer;
    margin: 0;

    &:hover {
        background: $btn-bg-primary--hover;
    }
}

.btn--secondary {
    border: 1px solid $btn-bg-secondary;
    background: $btn-bg-secondary;
    color: $btn-color-secondary;

    &:hover {
        background: $btn-bg-secondary--hover;
    }
}

.btn--large {
    padding: 26px 80px 22px;
    font-weight: bold;
}

.icon {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $black;
}

.icon-long-arrow-right {
    background: url('../images/icon-long-arrow-right.svg') no-repeat center center/contain;
    width: 14px;
    height: 10px;
}

small {
    font-size: 0.9em;
}

/* ================================================= Page Structure */

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: $text-color;
    background: $body-bg;
    padding: 0;
    margin: 0;
}

.page-section {
    width: 100%;

    &--sample {
        padding: 80px 0;
    }
}

.page-section__title {
    width: 100%;
    text-align: center;
    margin: 0 0 58px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.cols2, .cols3, .cols4, .cols5 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cols2 {

    .col {
        width: 48%;
    }
}

.cols3 {

    .col {
        width: 32%;
    }
}

.cols4 {

    .col {
        width: 23%;
    }
}

.cols5 {

    .col {
        width: 19%;
    }
}

.logo {
    margin: 2px 0 0 -11px;
    display: flex;

    img {
        width: 160px;
    }

    &--footer {
        width: 25%;
        margin-top: -8px;

        img {
            width: 121px;
        }
    }
}
