<div class="page-section how-to-use">
    <div class="container">
        <div class="how-to-use__text">
            <h2>Find out How Easy Chartio Is to use</h2>
            <form action="#" class="email-form">
                <input type="text" class="email-form__input" placeholder="Enter your contact email">
                <button type="submit" class="btn btn--secondary email-form__submit">Get Started Free</button>
            </form>
        </div>
        <div class="how-to-use__video-holder">
            <div class="video">
                <a href="#" class="video__play-btn">Play</a>
            </div>
        </div>
    </div>
</div>
