<div class="page-section">
    <div class="container">
        {% for service in section.service_section %}
            <div class="content-item {% if service.icon_right %}content-item--image-right{% endif %}">
                <div class="content-item__image">
                    <img class="content-item__image-element" src="{{ service.icon }}" alt="{{ service.title }}">
                </div>
                <div class="content-item__text">
                    <h2>{{ service.title }}</h2>
                    {{ service.description | markdownify }}
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-item__text">
                    <blockquote>
                        {{ service.testimonial.text | strip_html }}
                    </blockquote>
                    <a href="#" class="testimonial-item__link">See More Chartio Customers <i class="icon icon-long-arrow-right"></i></a>
                </div>
                <div class="testimonial-item__image">
                    <img class="testimonial-item__image-element" src="{{ service.testimonial.logo }}" alt="Chartio">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
