{% assign welcome = site.data.home.what-we-do %}

<div class="page-section what-we-do">
    <div class="container">
        <h2 class="page-section__title">What can Data Advisors do for you?</h2>
        <div class="what-we-do__description">
            <h3>Our collective experience</h3>
            <p>
                Our Data Advisors take advantage of our team’s collective experience of 10+ years and 800+ customers to help you implement the right for your organization’s unique Business Intelligence and data analytics requirements.
            </p>
            <h3>Personal assistant</h3>
            <p>
                All our enterprise customers have an assigned Data Advisor to advise and assist, not only with account or support questions, but also with any data related questions their organization may have.
            </p>
            <h3>The objective</h3>
            <p>
                The objective of our Data Advisors is to enable the data success of each one of our customers. That simple.
            </p>
        </div>
        <div class="what-we-do__image">
            <img class="what-we-do__image-element" src="assets/images/tim-miller.jpg" alt="Tim Miller ST Data Advisor">
            <div class="what-we-do__image-caption">
                <strong>Tim Miller</strong>
                <span>ST Data Advisor</span>
            </div>
        </div>
    </div>
</div>
