{% assign section = site.data.home.what-we-do %}

<div class="page-section what-we-do">
    <div class="container">
        <h2 class="page-section__title">{{ section.section_title }}</h2>
        <div class="what-we-do__description">
            {{ section.section_content | markdownify }}
        </div>
        <div class="what-we-do__image">
            <img class="what-we-do__image-element" src="{{ section.section_image.image }}" alt="{{ section.section_image.image_caption }}">
            <div class="what-we-do__image-caption">
                {{ section.section_image.image_caption | markdownify }}
                <strong>Tim Miller</strong>
                <span>ST Data Advisor</span>
            </div>
        </div>
    </div>
</div>
